<div class="feed-item">
    <div class="feed-item__left">
        <img class="feed-item__image" src={{@image}} alt="{{@title}} cover"/>
    </div>
    <div class="feed-item__right">
        <small class="feed-item__url">{{@url}}</small>
        <h1 class="feed-item__title">
            {{@title}}
        </h1>
        <p class="feed-item__description">
            {{@description}}
        </p>
        <p class="feed-item__date">
            {{@date}}
        </p>
    </div>
</div>